Library/*
Temp/*
BuildTest/*

*.sln
*.userprefs
*.csproj
*.unityproj
*.pidb
*.svd
*.suo
*.user
*.booproj
*.unitypackage
*.pdb
*.exe


ExportedObj/


*~
*.swp
*.Trashes

ehthumbs.db
Thumbs.db

.DS_Store
.DS_Store?

*.apk

